body {
    /* background-image: url("./assets/images/background.png"); */
    background-color: antiquewhite;
    height: 100%;
    background-position: center;
    background-repeat: space repeat;
    background-size: stretch;
}

h1,h2,p{
    font-family: work sans;
}

#header{
    font-size: 3rem;
}

.book-list{
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    visibility: hidden;
}

.container{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card{
    background-color: white;
    height: 100%;
    width: 100% ;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}